@charset "UTF-8";

/*--------------------------전체---------------------*/
 *{	box-sizing:border-box;
        }
.introContainer{	
	color:#2E2E2E;
	width:1100px;
	margin: 0 auto;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
	-webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}        
p{  
	font-size:16px;
	font-weight:540;
}  
/*--------------------------서비스안내---------------------*/

.col_half{
	width:44%;
	position:relative;
	float:left;
}				
.serviceBox{
	flex:0 0 50%;
	max-width: 50%;
	margin: 0 0 70px 0;
	padding: 0 30px 0 0;
}
.serviceBox::after{
	content:' ';
	display:block;
	clear:both;
}
.servicedesc{
	display:block;
					}				
.serviceimage{
	float:left;
	margin:0 30px 0 0;
	width:250px;
}
.serviceFile{
	display:flex;
	flex-wrap: wrap;
	margin: 0 0 100px 0;
}
.serviceTitle{
	text-align:center;
	margin:100px 0 80px 0;
	}	
.service_img{
	width:100%;
	display:block;
}				
/*-------------------------객실안내--------------------*/

.roomIntroText{
	margin:0 0 40px 0;
							
}						
.singleRoom{
	margin:0 0 120px 0;
}
.doubleRoom{ 
	margin:0 0 120px 0;
}
.tripleRoom{ 
	margin:0 0 120px 0;
}  	
.singleRoomText{
	position:relative;
	float:right;
	padding : 0 150px 0 0;
}

.singleRoom::after{
	content:' ';
	display:block;
	clear:both;
}
.doubleRoomText{
	position:relative;
	float:right;
	padding : 0 150px 0 0;
	}
.doubleRoom::after{
	content:' ';
	display:block;
	clear:both;
}
.tripleRoomText{
	position:relative;
	float:right;
	padding : 0 150px 0 0;
	}
.tripleRoom::after{
	content:' ';
	display:block;
	clear:both;
}

																									
    @keyframes fadein {
        from {
            opacity: 0;
        }
 
        to {
            opacity: 1;
        }
    }
 
    @-moz-keyframes fadein {
 
        /* Firefox */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadein {
 
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-o-keyframes fadein {
 
        /* Opera */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }