@charset "UTF-8";
/*---------------------------전체 ----------------------*/
#content{
	margin:100px auto;
	width:1200px;
	display:block;
	overflow:auto; 
}
textarea[name=content]{
	/*줄 늘리기 없애기*/
	resize: none;
	/*가로 길이 조절*/ 
	width:500px;
}

.button{
	/*버튼 가운데 정렬*/
	text-align:center;
}

input[name=title]{
	/*제목 가로, 높이 조절*/
	width:500px;
	height:30px;
}

.save, .golist{
	/*버튼 테두리*/
	border:1px solid gray;
	/*버튼 배경 색*/
	background-color: white;
	/*버튼 크기*/
	padding:12px 12px 12px 12px;
	/*버튼끼리 간격*/
	margin:5px 5px 5px 2px;
}

form{
	padding:100px 0px 100px 0px;
}
.save{
	margin:5px 5px 5px 60px;
}

table{
	margin:0 auto 0 auto;
	
}

.tr{
	text-align:right
}
